
<div class="cuerpo">
      <div class="espacio">
        <div class="container">
          <div class="row">
              <div class="col-sm-2 detalle">
                <div class="select">
                  <select name="slct" id="slct">
                    <option>Buscar Proveedor</option>
                    <option value="1">Pure CSS</option>
                    <option value="2">No JS</option>
                    <option value="3">Nice!</option>
                  </select>
                </div>
              </div>
              <div class="col-md-offset-1 col-sm-2 detalle ">
                <div class="select">
                  <select name="slct" id="slct">
                    <option>Buscar Marca</option>
                    <option value="1">Pure CSS</option>
                    <option value="2">No JS</option>
                    <option value="3">Nice!</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
      </div>
        <br>  <br>

    <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-sm-3">
                <button class="btn-block btn-design">Crear</button>
            </div>
            <div class="col-sm-3">
              <button  class="btn-block btn-design">Editar</button>
            </div>
          </div>
        </div>
    <br>  <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 detalle">
          <div class="select">
            <select name="slct" id="slct">
              <option>Facturación</option>
              <option value="1">Pure CSS</option>
              <option value="2">No JS</option>
              <option value="3">Nice!</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3 detalle">
          <div class="select">
            <select name="slct" id="slct">
              <option>Tipo de Envío</option>
              <option value="1">Pure CSS</option>
              <option value="2">No JS</option>
              <option value="3">Nice!</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3 detalle">
          <div class="select">
            <select name="slct" id="slct">
              <option>Modelo de Negocio</option>
              <option value="1">Pure CSS</option>
              <option value="2">No JS</option>
              <option value="3">Nice!</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3 detalle">
          <div class="select">
            <select name="slct" id="slct">
              <option>Tipo de Pago</option>
              <option value="1">Pure CSS</option>
              <option value="2">No JS</option>
              <option value="3">Nice!</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>  <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 detalle">
          <div class="">
            <input type="text" class="estilo--input espacio__ cw  " placeholder="Cliente">
          </div>
        </div>
        <div class="col-sm-3 detalle">
          <div class="">
            <input type="text" class="estilo--input espacio__" placeholder="Seleccione Tipo de Envio">
          </div>
        </div>
        <div class="col-sm-3 detalle">
        </div>
        <div class="col-sm-3 detalle">
          <input type="text" class="estilo--input espacio__ col-sm-1 estilo--input__contado" placeholder="Contado">
          <label for="" class="col-sm-1">Días</label>
          <input type="text" class="estilo--input espacio__ col-sm-1 estilo--input__contado__numero" placeholder="20">
        </div>

      </div>
    </div>
    <br>  <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-11 detalle form-group" >
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">Nombre de la Empresa</label>
          </div>
          <div class="col-xs-9 ">
            <input type="text" class="estilo--input" style="width: 100%;height: 30px"
            placeholder="Escribir nombre de la empresa">
          </div>
        </div>

        <div class="col-sm-11 detalle form-group">
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">Razón Social</label>
          </div>
          <div class="col-xs-9 ">
            <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                   placeholder="Escribir razón social">
          </div>
        </div>

        <div class="col-sm-11 detalle form-group">
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">RUC</label>
          </div>
          <div class="col-xs-9 ">
            <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                   placeholder="Escribir RUC">
          </div>
        </div>

        <div class="col-sm-11 detalle form-group">
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">Dirección de Oficina</label>
          </div>
          <div class="col-xs-9 ">
            <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                   placeholder="Escribir dirección de la oficina">
          </div>
        </div>

        <div class="col-sm-2 detalleform-group ">
          <div class="container">
            <div class="row form-group">Marca</div>
            <div class="row form-group">Logo de Marca</div>
          </div>
        </div>
        <div class="col-sm-3 detalleform-group pl_espacio">
          <div class="container">
            <div class="row form-group flex__marca">
              <input type="text" class="estilo--input" placeholder="Escribir Marca" style="height: 30px;margin-left: 8px">
              <span class="add">+</span>
            </div>

            <div class="row form-group flex__marca">
                <div class="bloque_img" style="height: 70px;width: 100px;background: #E7E7E7;"></div>
              <div class="content_opcion">
              <span class="add">+</span>
              <span class="add">x</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 detalleform-group">
                <div class="panel-group">
              <div class="panel panel-primary">
                <div class="panel-heading">Panel with panel-primary class</div>
                <div class="panel-body">Panel Content</div>
              </div>
            </div>
        </div>



        <div class="col-sm-11 detalle form-group">
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">Descripción de Marca</label>
          </div>
          <div class="col-xs-9 ">
            <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                   placeholder="Escribir descripción de la marca">
          </div>
        </div>
        <div class="col-sm-11 detalle form-group">
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">Meta Título</label>
          </div>
          <div class="col-xs-9 ">
            <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                   placeholder="Escribir nombre con el que el usuario encontrará al producto">
          </div>
        </div>

        <div class="col-sm-11 detalle form-group">
          <div class="col-xs-2 pl_espacio">
            <label for="" class="label-for">Palabras Claves</label>
          </div>
          <div class="col-xs-9 ">
                <div class="panel-group">
                  <div class="panel panel-primary panelito">
                    <div class="panel-body panel-cuerpo">
                      <div class="articulo_item">
                            <h3 class="articulos">Hogar</h3>
                            <span class="articluo_x">x</span>
                      </div>
                      <div class="articulo_item">
                        <h3 class="articulos">Casa</h3>
                        <span class="articluo_x">x</span>
                      </div>
                      <div class="articulo_item">
                        <h3 class="articulos">Muebles en oferta</h3>
                        <span class="articluo_x">x</span>
                      </div>
                      <div class="articulo_item">
                        <h3 class="articulos">Muebles online</h3>
                        <span class="articluo_x">x</span>
                      </div>
                      <div class="articulo_item">
                        <h3 class="articulos">Muebles de promoción</h3>
                        <span class="articluo_x">x</span>
                      </div>
                      <div class="articulo_item">
                        <h3 class="articulos">Muebles modernos</h3>
                        <span class="articluo_x">x</span>
                      </div>
                      <div class="articulo_item">
                        <h3 class="articulos">Amoblar</h3>
                        <span class="articluo_x">x</span>
                      </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
        <div class="col-sm-10 detalle form-group">
          <div class="panel-group">
            <div class="panel panel-primary">
              <div class="almacen__title">Direccion de Almacén<span class="add">+</span></div>
              <ol class="lista_almacen">
                <li class="calle_almacen">Calle las gaviotas 1248 - Chorrillos -Lima</li>
                <li class="calle_almacen">Escriba descripcion 2 (opcional)</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-sm-3 detalle form-group title__head__contacto">CARGO</div>
        <div class="col-sm-3 detalle form-group title__head__contacto">CONTACTO</div>
        <div class="col-sm-3 detalle form-group title__head__contacto">CORREO</div>
        <div class="col-sm-2 detalle form-group title__head__contacto">TELÉFONO</div>


        <div class="col-sm-3 detalle form-group">
          <input type="text" class="estilo--input espacio__ cw bloque">
        </div>
        <div class="col-sm-3 detalle form-group">
          <input type="text" class="estilo--input espacio__ cw bloque">
        </div>
        <div class="col-sm-3 detalle form-group">
          <input type="text" class="estilo--input espacio__ cw bloque">
        </div>
        <div class="col-sm-2 detalle form-group">
          <div class="input__add">
            <input type="text" class="estilo--input espacio__ cw bloque">
            <span class="add add_height">+</span>
          </div>
        </div>


        <div class="col-sm-4 detalle form-group">
          <div class="panel-group">
            <div class="panel panel-primary">
              <div class="panel-heading">Restricción por zona - Envío Gratis</div>
              <details class="details">
               <summary>Lima</summary>
                     <div class="cont-radio">
                          <p class="sumary_details">Cercado de Lima </p>
                          <input type="radio" name="radio" value="1" checked>
                     </div>

                    <div class="cont-radio">
                      <p class="sumary_details">Ate</p>
                      <input type="radio" name="radio" value="1" checked>
                    </div>

                    <div class="cont-radio">
                      <p class="sumary_details">Breña </p>
                      <input type="radio" name="radio" value="1" checked>
                    </div>

                    <div class="cont-radio">
                      <p class="sumary_details">San Juan de Miraflores </p>
                      <input type="radio" name="radio" value="1" checked>
                    </div>

                    <div class="cont-radio">
                      <p class="sumary_details">Santiago de Surco </p>
                      <input type="radio" name="radio" value="1" checked>
                    </div>

                  </details>
              <details class="details">
                <summary>La Libertad</summary>
                <p class="sumary_details">lorem</p>
                <p class="sumary_details">lorem</p>
                <p class="sumary_details">lorem</p>
                <p class="sumary_details">lorem</p>
              </details>
              <details class="details">
                <summary>Arequipa</summary>
                <p class="sumary_details">lorem</p>
                <p class="sumary_details">lorem</p>
                <p class="sumary_details">lorem</p>
                <p class="sumary_details">lorem</p>
              </details>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-sm-offset-2 detalle form-group">
          <div class="panel-group">
            <div class="panel panel-primary">
              <div class="panel-heading">Pago al Contado</div>
              <div class="content-pago">
                  <div class="content-pago__details">
                    <input type="radio" name="radio" value="1" checked>
                    <p class="pago__color">Pago antes de entregar producto </p>
                  </div>

                <div class="content-pago__details_2">
                    <p class="pago_dias">Dias Previos</p>
                    <p class="pago_dias bgcolor">ingreso días</p>
                </div>
                <hr>

                <div class="content-pago__details">
                  <input type="radio" name="radio" value="1" checked>
                  <p class="pago__color">Pago antes de entregar producto </p>
                </div>
                <hr>
                <div class="content-pago__details">
                  <input type="radio" name="radio" value="1" checked>
                  <p class="pago__color">Porcentage de pago antes de la entrega</p>
                </div>

                <div class="content-pago__details_2">
                  <p class="pago_dias">%pago</p>
                  <p class="pago_dias bgcolor">pago</p>
                </div>
                <hr>
                <div class="content-pago__details">
                  <input type="radio" name="radio" value="1" checked>
                  <p class="pago__color">Pago antes de enviar la orden de compra </p>
                </div>

              </div>
            </div>
          </div>
        </div>


          </div>
      </div>
</div>
