
<div class="cuerpo">
      <div class="espacio">
        <div class="container">
          <div class="row">
              <div class="col-sm-3 detalle">
                <div class="select">
                  <select name="slct" id="slct">
                    <option>Buscar Proveedor</option>
                    <option value="1">Pure CSS</option>
                    <option value="2">No JS</option>
                    <option value="3">Nice!</option>
                  </select>
                </div>
              </div>
              <div class="col-md-offset-1 col-sm-3 detalle ">
                <div class="select">
                  <select name="slct" id="slct">
                    <option>Buscar Marca</option>
                    <option value="1">Pure CSS</option>
                    <option value="2">No JS</option>
                    <option value="3">Nice!</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
      </div>
        <br>  <br>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-sm-3">
              <button class="btn-block btn-design">Crear</button>
          </div>
          <div class="col-sm-3">
            <button  class="btn-block btn-design">Editar</button>
          </div>
        </div>
      </div>
  <br>  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 detalle">
        <div class="select">
          <select name="slct" id="slct">
            <option>Facturación</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3 detalle">
        <div class="select">
          <select name="slct" id="slct">
            <option>Tipo de Envío</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3 detalle">
        <div class="select">
          <select name="slct" id="slct">
            <option>Modelo de Negocio</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3 detalle">
        <div class="select">
          <select name="slct" id="slct">
            <option>Tipo de Pago</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br>  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 detalle">
        <div class="">
          <input type="text" class="estilo--input espacio__ cw  " placeholder="Cliente">
        </div>
      </div>
      <div class="col-sm-3 detalle">
        <div class="">
          <input type="text" class="estilo--input espacio__" placeholder="Seleccione Tipo de Envio">
        </div>
      </div>
      <div class="col-sm-3 detalle">

      </div>
      <div class="col-sm-3 detalle">
        <div class="select">
          <select name="slct" id="slct">
            <option>Tipo de Pago</option>
            <option value="1">Pure CSS</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br>  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-11 detalle form-group" >
        <div class="col-xs-2">
          <label for="" class="label-for">Nombre de la Empresa</label>
        </div>
        <div class="col-xs-9">
          <input type="text" class="estilo--input" style="width: 100%;height: 30px"
          placeholder="Escribir nombre de la empresa">
        </div>
      </div>

      <div class="col-sm-11 detalle form-group">
        <div class="col-xs-2">
          <label for="" class="label-for">Razón Social</label>
        </div>
        <div class="col-xs-9">
          <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                 placeholder="Escribir razón social">
        </div>
      </div>

      <div class="col-sm-11 detalle form-group">
        <div class="col-xs-2">
          <label for="" class="label-for">RUC</label>
        </div>
        <div class="col-xs-9">
          <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                 placeholder="Escribir RUC">
        </div>
      </div>

      <div class="col-sm-11 detalle form-group">
        <div class="col-xs-2">
          <label for="" class="label-for">Dirección de Oficina</label>
        </div>
        <div class="col-xs-9">
          <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                 placeholder="Escribir dirección de la oficina">
        </div>
      </div>

      <div class="col-sm-11 detalle form-group">
        <div class="col-xs-2">
          <label for="" class="label-for">Marca</label>
        </div>
        <div class="col-xs-3">
          <input type="text" class="estilo--input" style="width: 100%;height: 30px"
                 placeholder="Escribir Marca">
        </div>
      </div>
    </div>
  </div>
</div>
