@import "../../assets/sass/variables-contihogar";

.fila-cabecera{
    background-color: $contihogar-black;
    border-bottom: 1px solid black;
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 1;
    .logo-site{
        margin-left: 5px;
        padding: 10px 0;
        img{
            height: 32px;
        }
    }
    .caja-titulo{
        color: $contihogar-white;
        display: table-cell;
        height: 45px;
        font-size: $contihogar-font-size-13;
        font-family: $contihogar-font-futura-light;
        vertical-align: middle;
    }
    .caja-modulo-nombre{
        color: $contihogar-soft-blue;
        text-align: right;
        margin-right: 10%;
        line-height: 40px;
        height: 45px;
          &__user
          {
            color: #fff;
            margin-right: 0 !important;
          }
    }
    .caja-logout{
        padding: 5px 0;
        height: 45px;
        img{
            height: 100%;
            width: 100%;
        }
    }
}

.flex--user
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contenedor__img
{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user--name
{
  color: #fff;
  padding-left: 1em;
}
.flex--modulo
{
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.h1-mc
{
  font-size: 14px;
  color: $contihogar-soft-blue;
  margin: 0;
  padding: 0;
}
