<div class="fila-cabecera">
    <div class="col-md-1">
        <figure class="logo-site">
            <img src="assets/img/logo cms.svg" alt="" class="img-responsive">
        </figure>
    </div>
    <div class="col-md-2">
        <div class="caja-titulo"><span>PREMIUM</span></div>
    </div>
    <div class="col-md-7">
        <div class="caja-modulo-nombre"><span>Modulo Comercial</span></div>
    </div>
    <div class="col-md-1">
        <span>Frank Arias</span>
    </div>
    <div class="col-md-1">
        <div class="caja-logout">
            <a href="#">
                <img src="assets/img/cerrar cesion.svg" alt="">
            </a>
        </div>
    </div>
</div>