<div class="menu-left">
    <br>
    <ul class="list-unstyled">
        <li><a class="efecto--color" [routerLink]="['/general']">GENERAL</a></li>
        <li><a class="efecto--color" [routerLink]="['/product',0]">PRODUCTO</a></li>
        <li><a class="efecto--color" [routerLink]="['/supplier']">PROVEEDOR</a></li>
        <li><a class="efecto--color" [routerLink]="['/category']">CATEGORIA</a></li>
        <li><a class="efecto--color" [routerLink]="['/merge']">MERCH</a></li>
        <hr>
        <li><a class="efecto--color" [routerLink]="['/pedido']">PEDIDOS</a></li>
    </ul>
</div>
