<div class="caja-categoria">
    <div class="caja-categoria-titulo">
        <span>MAPA DE CATEGORIA</span>
    </div>
    <div class="caja-categoria-cuerpo">
      <ul>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Dormitorios</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Dormitorios</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Mueble de sala</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Seleccionales</li>
        <li>Dormitorios</li>
      </ul>
    </div>
</div>