@import "../../../assets/sass/variables-contihogar";

.caja-categoria{
    overflow: auto;
    position: relative;
    height:300px;
    width:100%;
    .caja-categoria-titulo{
        background-color: $contihogar-black;
        text-align: center;
        height: 35px;
        line-height: 30px;
    }
    .caja-categoria-cuerpo{
        color: $contihogar-gray-1;
        background-color:$contihogar-white;
        position: absolute;
        width: 100%;
        .control-right{
            float: right;
            margin-right: 10px;
        }
    }
}