@import "../../assets/sass/variables-contihogar";

.espacio
{
  padding-top: 2em;
}
.btn__bt
{
  background: $contihogar-black;
  color: $contihogar-soft-blue;
  border: none;
  height: 30px;
}

.panel
{
  border: 0px solid red !important;
  padding-bottom: 5px;
}
.panel-heading
{
  text-align: center;
  padding: 4px 4px !important;
  color: $contihogar-soft-blue;
}
.details
{
  color: $contihogar-gray-2;
  padding-top: 1em;
  padding-left: 1em;
}
.sumary_details
{
  padding-left: 2em;
}
.cont-radio
{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  flex-grow: 1;
}
.content-pago
{
  margin: 1em .5em;
}
.content-pago__details
{
  display: flex;
  justify-content: flex-start;
  margin: 0 1em;
}
.content-pago__details_2
{
  display: flex;
  justify-content: space-evenly;
  margin: 0 5em;
}
hr
{
  margin: 0;
}

.pago__color
{
  color: $contihogar-gray-1;
}
.content-pago__details :nth-child(2)
{
  padding-left: 10px;
}
.pago_dias
{
  color: $contihogar-gray-1;
}
.bgcolor
{
  padding: 2px 8px;
  background: #E7E7E7;
}
input
{
  padding-left: 8px !important;
  color: white;
}
.summary__space
{
  padding-bottom: 9px;

}
p
{
  margin: 0 0 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -11px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $contihogar-soft-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $contihogar-soft-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.radio_1
{
  margin-top: 1px;
  margin-right: 1.5em;
  width: 20px;
  height: 20px;
}

.cont-radio :nth-child(1)
{
  flex-grow: 4;
}
.color__title
{
  background: $contihogar-black;
  color: $contihogar-soft-blue;
}

.img_cargar
{
  height: 150px;
  width: 150px;
  position: relative;
}
.img_cate
{
  display: block;
  background: $contihogar-gray-2;
  height: 150px;
  width: 150px;
}
.mas
{
  position: absolute;
  color: $contihogar-white;
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.estilo--input
{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $contihogar-black;

}
.label-for
{
  font-weight: lighter;
}

.borde_previa
{
  border: 1px solid $contihogar-soft-blue;
  padding: 10px;
}

.btn__bt
{
  color: $contihogar-white;
}
.img_centrado
{
  display: block;
 margin: auto;

}
.color_blue__button
{
  color: $contihogar-soft-blue;
  font-weight: 500;
}
.panel-body {
  padding: 15px;
  overflow-y: auto;
  height: 300px;
}
