<form class="form-general">
  <br>
  <div class="row fila-general-1">
    <div class="col-md-12 control-container">
      <div class="control-caja" style="width: 22%">
        <select class="form-control">
          <option>Mas Vendidos</option>
          <option>Mas Visitados</option>
          <option>Otros</option>
        </select>
      </div>
      <div class="control-caja" style="width: 3%;"></div>
      <div class="control-caja" style="width: 15%">
          <label>A-Z</label>
      </div>
      <div class="control-caja" style="width: 60%"></div>
    </div>
  </div>

  <div class="row fila-general-2">
    <div class="col-md-6">
      <div style="width: 100%;display: flex;">
        <div class="control-caja" style="width: 45%">
          <select class="form-control">
            <option>Filtro</option>
          </select>
        </div>
        <div class="control-caja" style="width: 5%"></div>
        <div class="control-caja" style="width: 50%">
          <input type="text" class="form-control" placeholder="Buscar en filtro 1">
        </div>
      </div>

      <div style="width: 100%;display: flex;">
        <div class="control-caja" style="width: 45%">
          <select class="form-control">
            <option>Filtro</option>
          </select>
        </div>
        <div class="control-caja" style="width: 5%"></div>
        <div class="control-caja" style="width: 50%">
          <input type="text" class="form-control" placeholder="Buscar en filtro 1">
        </div>
      </div>

      <div style="width: 100%;display: flex;">
        <div class="control-caja" style="width: 45%">
          <select class="form-control">
            <option>Filtro</option>
          </select>
        </div>
        <div class="control-caja" style="width: 5%"></div>
        <div class="control-caja" style="width: 50%">
          <input type="text" class="form-control" placeholder="Buscar en filtro 1">
        </div>
      </div>

      <br>
      <br>
      <br>
      <div class="control-avance-mes">
        <div class="control-header">AVANCE DEL MES</div>
        <div class="control-body">
          <ul>
            <li>Volumen de ventas: <span>s/. 120,00</span></li>
            <li>Volumen de unidades: <span>500</span></li>
            <li>Margen: <span>22%</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-3">
      <div class="control-top">
        <div class="control-header">TOP 5 CATEGORIAS</div>
        <div class="control-body">
          <ul>
            <li>Juego de sala</li>
            <li>Sofa</li>
            <li>Caja china</li>
            <li>Colchones botarima</li>
            <li>Juevo de dormitorio</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="control-top">
        <div class="control-header">TOP 5 PROVEEDORES</div>
        <div class="control-body">
          <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="control-top-SKU">
        <div class="control-header">TOP 15 SKU</div>
        <div class="control-body">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<br>
<div class="row fila-tabla">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-black">
        <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Proveeedor</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Costo</th>
            <th>Margen</th>
            <th>Cant.</th>
            <th>Estado</th>
            <th>A-Z</th>
        </tr>
      </thead>
      <tbody class="tbody-white">
        <tr *ngFor="let product of listProduct.data">
          <td><a [routerLink]="['/product/',product.id_product]">{{product.reference}}</a></td>
          <td>{{product.product}}</td>
          <td>{{product.supplier}}</td>
          <td>{{product.manufacturer}}</td>
          <td>{{product.model}}</td>
          <td>{{product.category}}</td>
          <td>{{product.price}}</td>
          <td>{{product.wholesale_price}}</td>
          <td>{{product.margen}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <div style="height: 50px;width: 50px;background-color: yellow;border-radius: 50%;"></div>
          </td>
          <td>1000</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-paginate">
    <ul class="pagination">
      <li [hidden]="currentPage != 1"><a href="javascript:void(0)" (click)="getListProduct(1)">«</a></li>
      <li [hidden]="currentPage != 1"><a href="javascript:void(0)" (click)="getListProduct(currentPage-1)">‹ Prev</a></li>
      <li *ngFor="let i of range" [ngClass]="{'active':currentPage == i}">
        <a href="javascript:void(0)" (click)="getListProduct(i)">{{i}}</a>
      </li>
      <li [hidden]="currentPage != totalPages"><a href="javascript:void(0)" (click)="getListProduct(currentPage+1)">Next ›</a></li>
      <li [hidden]="currentPage != totalPages"><a href="javascript:void(0)" (click)="getListProduct(totalPages)">»</a></li>
    </ul>
  </div>
</div>
<br>
<br>
<br>