<form class="form-general">
  <br>
  <div class="row fila-general-1">
    <div class="col-md-12 control-container">
      <div class="control-caja" style="width: 22%">
        <select class="form-control">
          <option>Mas Vendidos</option>
          <option>Mas Visitados</option>
          <option>Otros</option>
        </select>
      </div>
      <div class="control-caja" style="width: 3%;"></div>
      <div class="control-caja" style="width: 15%">
          <label>A-Z</label>
      </div>
      <div class="control-caja" style="width: 60%"></div>
    </div>
  </div>

  <div class="row fila-general-2">
    <div class="col-md-6">
      <div style="width: 100%;display: flex;">
        <div class="control-caja" style="width: 45%">
          <select class="form-control" name="column" [(ngModel)]="eFilterList[0].column">
            <option *ngFor="let item of filterData" [value]="item.value">{{item.column}}</option>
          </select>
        </div>
        <div class="control-caja" style="width: 5%"></div>
        <div class="control-caja" style="width: 50%">
          <input type="text" class="form-control" name="value" [(ngModel)]="eFilterList[0].value" placeholder="Buscar en filtro 1">
        </div>
      </div>

      <div style="width: 100%;display: flex;">
        <div class="control-caja" style="width: 45%">
          <select class="form-control" name="column" [(ngModel)]="eFilterList[1].column">
            <option *ngFor="let item of filterData" [value]="item.value">{{item.column}}</option>
          </select>
        </div>
        <div class="control-caja" style="width: 5%"></div>
        <div class="control-caja" style="width: 50%">
          <input type="text" class="form-control" name="value" [(ngModel)]="eFilterList[1].value" placeholder="Buscar en filtro 2">
        </div>
      </div>

      <div style="width: 100%;display: flex;">
        <div class="control-caja" style="width: 45%">
          <select class="form-control" name="column" [(ngModel)]="eFilterList[2].column">
            <option *ngFor="let item of filterData;let i = index" [value]="item.value"  [attr.selected]="i == 0">{{item.column}}</option>
          </select>
        </div>
        <div class="control-caja" style="width: 5%"></div>
        <div class="control-caja" style="width: 50%">
          <input type="text" class="form-control" name="value" [(ngModel)]="eFilterList[2].value" placeholder="Buscar en filtro 3">
        </div>
      </div>
      <br>
      <div style="width: 100%;display: flex;">
        <button class="btn btn-default btn-consulta" (click)="reloadItems({limit:10,offset:0})">Consultar</button>
      </div>
      <br>
      <div class="control-avance-mes">
        <div class="control-header">AVANCE DEL MES</div>
        <div class="control-body">
          <ul>
            <li>Volumen de ventas: <span>s/. {{oOrderTotal.total}}</span></li>
            <li>Volumen de unidades: <span>{{oOrderTotal.quantity}}</span></li>
            <li>Margen: <span>{{oOrderTotal.margen}}</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="control-top">
        <div class="control-header">TOP 5 CATEGORIAS</div>
        <div class="control-body">
          <ol>
            <li *ngFor="let category of listCategoryTop"> {{category.name}}</li>
          </ol>
        </div>
      </div>
      <br>
      <div class="control-top">
        <div class="control-header">TOP 5 PROVEEDORES</div>
        <div class="control-body">
          <ol>
            <li *ngFor="let supplier of listSupplierTop"> {{supplier.name}}</li> 
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="control-top-SKU">
        <div class="control-header">TOP 15 SKU</div>
        <div class="control-body">
          <ol>
            <li *ngFor="let product of listProductTop"> {{product.name}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<br>
<div class="row fila-tabla"> 
    <data-table id="product-grid" class="table table-bordered" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
      <data-table-column [property]="'reference'" [header]="'SKU'" [sortable]="true" width="150px"></data-table-column>
      <data-table-column [property]="'product'" [header]="'Nombre'" [sortable]="true" width="200px"></data-table-column>
      <data-table-column [property]="'supplier'" [header]="'Proveeedor'" [sortable]="true" width="150px"></data-table-column>
      <data-table-column [property]="'manufacturer'" [header]="'Marca'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'model'" [header]="'Modelo'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'category'" [header]="'Categoria'" [sortable]="true" width="150px"></data-table-column>
      <data-table-column [property]="'price'" [header]="'Precio'" [resizable]="true" [sortable]="true" width="200px;">
        <template #dataTableCell let-item="item">
          <span>{{item.price | currency:'PEN':'code'}}</span>
        </template>
      </data-table-column>
      <data-table-column [property]="'wholesale_price'" [header]="'Costo'" [sortable]="true">
        <template #dataTableCell let-item="item">
          <span>{{item.wholesale_price | currency:'PEN':'code'}}</span>
        </template>
      </data-table-column>
      <data-table-column [property]="'margen'" [header]="'Margen'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'quantity'" [header]="'Cant.'" [sortable]="true"></data-table-column>
      <data-table-column [property]="'active'" [header]="'Estado'" [sortable]="false">
        <template #dataTableCell let-item="item">
          <div *ngIf="item.active == 0"  style="width: 40px;height: 40px;background-color: yellow;"></div>
          <div *ngIf="item.active == 1"  style="width: 40px;height: 40px;background-color: green" ></div>
        </template>
      </data-table-column>
      <!--<data-table-column
          property="phoneNumber"
          header="Phone number"
          width="150px">
      </data-table-column>
      <data-table-column
          [property]="'jobTitle'"
          [header]="'Job title'"
          [visible]="false">
      </data-table-column>
      <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100"
          [resizable]="true">
          <template #dataTableHeader let-item="item">
              <span style="color: rgb(232, 0, 0)">Active</span>
          </template>
          <template #dataTableCell let-item="item">
              <span style="color: grey">
              <span class="fa fa-check" *ngIf="item.active"></span>
              <span class="fa fa-times" *ngIf="!item.active"></span>
              </span>
          </template>
      </data-table-column>-->
  </data-table>
</div>
<br>
<br>
<br>