<div class="product-item-contenedor">
  <div class="row">
    <div class="col-md-3 product-item-label">
        <div class="control-caja caja-resumen" style="width:100%;height: 50px;">
            <label class="label-resumen">RESUMEN : {{vCantidadUnidades}} Und</label>
        </div>  
        <div class="control-caja" style="width:100%">
            <label>Nombre :</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Estilo :</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Tipo de tapiz:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Color de tapiz:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Tipo de relleno:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Material de estrucctura:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Armado:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Garantia:</label>
        </div>  
        <div class="control-caja" style="width:100%">
            <label>Entega (dias) :</label>
        </div>
        <div class="control-caja" style="width:10030%">
            <label>Unidades :</label>
        </div>
        <div class="control-caja" style="width:10030%">
            <label>Costo de envio</label>
        </div>

        <div class="control-caja" style="width:100%">
            <label>Altura (cm):</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Ancho (cm):</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Profundidad (cm):</label>
        </div>
        <div class="control-caja" style="width:10030%">
            <label>Peso (kg):</label>
        </div>
    </div>
    <div class="col-md-8 product-item-control" id="tab-control-padre">
        <div class="row-tab-control scrool_body" style="display:inline-flex;">
          <div class="tab-control-item" *ngFor="let tab of vTabsNombre;let i = index" id="tab_{{tab.indexTab}}">
            <label (click)="onTabClick(tab.indexTab)">{{tab.text}} {{(i+1)}} </label>
            <input id="{{'tab'+(i+1)}}" type="radio" name="tabs" checked="{{tab.default}}" class="input_radio">
            <a *ngIf="tab.indexTab > 1"  name="{{tab.indexTab}}" #elementRemove (click)="removeTabClick(elementRemove)" class="link_eliminar">X</a>
          </div>
        </div>
        <div id="{{vTabControlBody}}" class="control-form-body">
            <form class="form-control-data" name="frmProductoItem" id="{{id_formulario_item}}">
                <div class="control-caja" style="width:100%">
                    <input type="text" name="nombre_producto_item" class="form-control" value="" placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="estilo_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="tipo_tapiz_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="color_tapiz_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="tipo_relleno_producto_item" class="form-control" value="" placeholder="" >
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="material_estructura_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="armado_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="garantia_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="entrega_dias_producto_item" class="form-control" value=""  placeholder="">
                </div>
                <div class="control-caja" style="width:100%">
                    <input type="text" name="unidades_producto_item" class="form-control" value=""  placeholder="">
                </div>
        
                <div class="control-fila1"  style="width:100%;display:inline-flex;">
                    <div class="control-caja" style="width:100%">
                        <label style="text-align: center;display: block;">Transporte</label>
                    </div>
                </div>
                <div class="control-fila1"  style="width:100%;display:inline-flex;">
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="altura_cm_producto" value=""  placeholder="">
                    </div>
                    <div class="control-caja" style="width:30%">
                        <label>Altura (cm):</label>
                    </div>
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="altura_cm_transporte" value="" placeholder="">
                    </div>
                </div>
        
                <div class="control-fila1"  style="width:100%;display:inline-flex;">
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="ancho_cm_producto" value="" placeholder="">
                    </div>
                    <div class="control-caja" style="width:30%">
                        <label>Ancho (cm):</label>
                    </div>
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="ancho_cm_transporte" value="" placeholder="">
                    </div>
                </div>
        
                <div class="control-fila1"  style="width:100%;display:inline-flex;">
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="profundidad_cm_producto" value="" placeholder="">
                    </div>
                    <div class="control-caja" style="width:30%">
                        <label>Profundidad (cm):</label>
                    </div>
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="profundidad_cm_transporte" value="" placeholder="">
                    </div>
                </div>
        
                <div class="control-fila1"  style="width:100%;display:inline-flex;">
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="peso_kg_producto" value="" placeholder="">
                    </div>
                    <div class="control-caja" style="width:30%">
                        <label>Peso (kg):</label>
                    </div>
                    <div class="control-caja" style="width:70%">
                        <input type="text" class="form-control" name="peso_kg_transporte" value="" placeholder="">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1 caja-col-tab">
      <div class="caja-agregar-tab">
        <a (click)="addTabClick()" class="control-agregar-tab">+</a>
      </div>
    </div>
  </div>
</div>