<div class="product-item-contenedor">
  <div class="row">
    <div class="col-md-3 product-item-label">
        <div class="control-caja caja-resumen" style="width:100%;height: 50px;">
            <label class="label-resumen">RESUMEN : {{vCantidadUnidades}} Und</label>
        </div>  
        <div class="control-caja" style="width:100%">
            <label>Nombre :</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Estilo :</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Tipo de tapiz:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Color de tapiz:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Tipo de relleno:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Material de estructura:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Armado:</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Garantia:</label>
        </div>  
        <div class="control-caja" style="width:100%">
            <label>Entrega (dias) :</label>
        </div>

        <br>
        <br>

        <div class="control-caja" style="width:100%">
            <label>Altura (cm):</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Ancho (cm):</label>
        </div>
        <div class="control-caja" style="width:100%">
            <label>Profundidad (cm):</label>
        </div>
        <div class="control-caja" style="width:10030%">
            <label>Peso (kg):</label>
        </div>
        <div class="control-caja" style="width:10030%">
            <label>Cantidad :</label>
        </div>
    </div>
    <div class="col-md-8 product-item-control" id="tab-control-padre">
        <div class="row-tab-control scrool_body" style="display:inline-flex;">
            <div *ngFor="let tab of oListTabControl;let i = index">
                <div class="tab-control-item" id="tab_{{tab.id}}" *ngIf="tab.state == 1">
                    <label (click)="onTabClick(tab.id)">{{tab.name}} {{i+1}} </label>
                    <input id="{{'tab_'+(tab.id+1)}}" type="radio" name="tabs" checked="{{tab.priority}}" class="input_radio">
                    <a *ngIf="(oListTabControl.length > 1 && vCantidadUnidades > 1)" name="{{tab.id}}" #elementRemove (click)="removeTabClick(elementRemove)" class="link_eliminar">X</a>
                </div>
            </div>
        </div>

        <div class="control-form-body"  *ngFor="let formItem of oListFormItem" id="{{formItem.id}}" [style.display]="formItem.display">
            <form class="{{formItem.class}}" name="{{formItem.name}}" id="{{formItem.id}}">
                <input type="hidden" value="{{formItem.DBId}}" name="id_product_item" id="id_product_item_{{formItem.id}}">
                <div class="div_item_100" style="width: 100%">
                    <div class="control-caja" style="width:100%" *ngFor="let input of formItem.inputFeatures" >
                        <input type="{{input.type}}" name="{{input.name}}" class="{{input.class}}" value="{{input.value}}" id="{{input.id}}">
                    </div>
                </div>
                <div class="caja_item_container" style="display: flex;">
                    <div class="caja_product_item" style="width: 30%;">
                        <div class="header-box" style="height: 28px"><span>Item</span></div>
                        <div class="control-caja" *ngFor="let inputProp of formItem.inputProperties">
                            <input type="{{inputProp.type}}" class="{{inputProp.class}}" name="{{inputProp.name}}" value="{{inputProp.value}}" id="{{inputProp.id}}">
                        </div>
                    </div>

                    <div class="caja-item-shipping">
                        <div class="header-box">
                            <span>Transporte</span>
                            <span> | {{formItem.oListFormItemShipping.length}} Item(s)</span>
                            <a class="link-agregar-shipping" (click)="agregarNuevoShipping(formItem.id)">+</a>
                        </div>
                        <div class="left_shipping-label">
                            <div class="control-caja" style="width:100%">
                                <label>Altura (cm):</label>
                            </div>
                            <div class="control-caja" style="width:100%">
                                <label>Ancho (cm):</label>
                            </div>
                            <div class="control-caja" style="width:100%">
                                <label>Profundidad (cm):</label>
                            </div>
                            <div class="control-caja" style="width:100%">
                                <label>Peso (kg):</label>
                            </div>
                            <div class="control-caja" style="width:100%">
                                <label>Cantidad:</label>
                            </div>
                        </div>

                        <div id="slide_{{formItem.id}}" data-ride="carousel" class="carousel form-shipping-container" style="float: left; width:65%;">
                            <div class="carousel-inner">
                                <div *ngFor="let formItemShipping of formItem.oListFormItemShipping" class="item {{formItemShipping.isActive}} form-item-shipping" id="{{formItemShipping.id}}">
                                    <form name="{{formItemShipping.name}}" style="width: 80%;clear: left;float: left;">
                                        <div *ngFor="let transport of formItemShipping.inputTransport"  class="control-caja" style="width:100%">
                                            <input type="{{transport.type}}" class="{{transport.class}}" name="{{transport.name}}" value="{{transport.value}}" id="{{transport.id}}">
                                        </div>    
                                    </form>
                                    <div *ngIf="formItem.oListFormItemShipping.length > 1"  style="float: left; font-size: 20px;text-align: right;cursor: pointer;width: 20%;padding: 7px;">
                                        <a (click)="quitarFormItemShipping(formItem.id,formItemShipping.id)" style="border: 1px solid black;color: black;border-radius: 50%;padding: 2px 6px;">X</a>
                                    </div>              
                                </div>
                                <a class="left carousel-control"  name="slide_{{formItem.id}}" style="width: 0px;" data-slide="prev" onclick="prevCarrousel(this)">
                                    <span class="glyphicon glyphicon-chevron-left" style="color: black;"></span>
                                </a>
                                <a class="right carousel-control" name="slide_{{formItem.id}}" style="width: 0px;"  data-slide="next" onclick="nextCarrousel(this)">
                                    <span class="glyphicon glyphicon-chevron-right" style="color: black;"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-1 caja-col-tab">
      <div class="caja-agregar-tab">
        <a (click)="addTabClick()" class="control-agregar-tab">+</a>
      </div>
    </div>
  </div>
</div>