@import "../assets/sass/variables-contihogar";

/*Rescribir bootstrap*/
.container-fluid{
    font-family: $contihogar-font-futura-book;
    background-color: $contihogar-gray-1;
    color: $contihogar-soft-blue;
    padding-left: 0px!important;
    padding-right: 5px!important;
    padding-top: 45px;
}