<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="container-fluid">
    <!--Header Site-->
    <div class="row fila-cuerpo">
        <!--Left Menu-->
        <div class="col-md-2">
            <app-menu-left></app-menu-left>
        </div>
        <!--Site Content-->
        <div class="col-md-10">
            <div class="body-site" style="margin-right: 3%;">
                <app-producto></app-producto>
                <!--<app-general></app-general>-->
                <!--<app-proveedor></app-proveedor>-->
            </div>
        </div>
    </div>
</div>


