<form class="form" name="frmProducto" (keyup.enter)="verificarEnter($event)" #rForm>
    <div class="row fila-formulario-1">
        <div class="col-md-2">
            <div class="toggle">
                <input type="checkbox" name="active" ngModel/>
                <span class="btn"></span>
                <span class="labels"></span>
                <span class="bg"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="control-buscar-producto">
                <div class="control-caja">
                    <label>Nº Producto :</label>
                </div>
                <div class="control-caja" style="width: 60%;">
                    <input type="text" class="form-control" name="id_product" [(ngModel)]="oProducto.id_product">
                </div>
                <div class="control-caja">
                    <button class="btn btn.btn-default" (click)="buscarProduct()"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="caja-modifica-masivo">
                <img src="assets/img/importar.svg">
                <span>Modificar Masivo</span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="caja-crear-masivo">
                <img src="assets/img/importar.svg">
                <span>Importar</span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="caja-exportar-masivo">
                <img src="assets/img/exportar.svg">
                <span>Exportar</span>
            </div>
        </div>
    </div>

    <div class="row fila-formulario-2">
        <div class="col-md-7">
            <div class="control-fila1"  style="width:100%;display:inline-flex;">
                <div class="control-caja" style="width:40%">
                    <select class="form-control" name="id_supplier" #vProveedorElem (change)="obtenerMarcas(vProveedorElem.value)" [(ngModel)]="oProducto.id_supplier">
                        <option [ngValue]="null">***  Proveedor *** </option>
                        <option *ngFor="let proveedor of lListProveedor" [value]="proveedor.id_supplier">
                            {{proveedor.name}}
                        </option>
                    </select>
                </div>
                <div class="control-caja" style="width:5%">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div>
                <div class="control-caja" style="width:40%">
                    <select class="form-control" name="id_manufacturer" [(ngModel)]="oProducto.id_manufacturer">
                        <option [ngValue]="null">*** Marca ***</option>
                        <option *ngFor="let manufacturer of lListManufacturer" [value]="manufacturer.id_manufacturer">
                            {{manufacturer.name}}
                        </option>
                    </select>
                </div>
                <div class="control-caja" style="width:8%">
                    <label>Estado</label>
                </div>
                <div class="control-caja" style="width:7%">
                    <div class="estado_producto"></div>
                </div>
            </div>

            <div class="control-fila2" style="width:100%;display:inline-flex;">
                <div class="control-caja" style="width:20%">
                    <label>Nombre del producto</label>
                </div>
                <div class="control-caja" style="width:80%">
                    <input type="text" class="form-control" name="name" placeholder="Escribir el nombre del producto" [(ngModel)]="oProductLang.name">
                    <span>(Marca / Categoria / Modelo / Caracteristicas)</span>
                </div>
            </div>

            <div class="control-fila3" style="width:100%;display:inline-flex;">
                <div class="control-caja" style="width:20%">
                    <label>SKU Proveedor</label>
                </div>
                <div class="control-caja" style="width:30%">
                    <input type="text" class="form-control" placeholder="Escribir SKU proveedor" name="reference" [(ngModel)]="oProducto.reference">
                </div>
                <div class="control-caja" style="width:20%">
                    <label>Unidades </label>
                </div>
                <div class="control-caja" style="width:30%">
                    <input type="number" min="1" name="quantity" class="form-control" placeholder="Cantidad de Unidades" [(ngModel)]="oProducto.quantity">
                </div>
            </div>

            <div class="control-fila4" style="width:100%;display:inline-flex;">
                <div class="control-modelo-buscar">
                    <div class="caja-label-modelo">
                        <label>Modelo del producto</label>
                    </div>
                    <div style="display: flex;">
                        <select class="form-control" name="id_model" [(ngModel)]="id_model"  #vModelElem>
                            <option *ngFor="let model of oListModels"  [value]="model.id_model+'|'+model.nombre">{{model.nombre}}</option>
                        </select>
                        <a class="link-modelo-agregar" (click)="agregarModel(vModelElem.value)">(+)</a>
                    </div>
                    <div class="caja-modelo-list scrool_body">
                        <ul>
                            <li *ngFor="let ProductModel of oListProductModel;let i = index">
                                {{ProductModel.model.nombre}}
                                <a class="badge" (click)="eliminarModelo(i)">X</a>
                            </li>
                        </ul>
                    </div>                    
                </div>
                <div class="control-modelo-medio"></div>
                <div class="control-modelo-nuevo">
                    <input type="text" class="input-nuevo-modelo" name="nombre" placeholder="Ingrese nuevo modelo" [(ngModel)]="oModel.nombre">
                    <button class="btn btn-defaul button-nuevo-modelo" (click)="agregarNuevoModelo(oModel)">NUEVO</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <app-categoria (ObtenerCategoryId)="getGategoryId($event)" [CategoryProduct]="oProducto.CategoryProduct"></app-categoria>
        </div>
    </div>

    <div class="row fila-formulario-3">
        <div class="col-md-4">
            <app-image-manager></app-image-manager>
        </div>

        <div class="col-md-8">
            <!--Precios-->
            <app-product-price [oProductEvent]="oProducto.ProductEvent"></app-product-price>
        </div>
    </div>

    <div class="row fila-formulario-4">
        <div class="col-md-7">
            <app-product-item [oListProductItem]="oProducto.ProductItem" [isEdit]="isEditProductItem"></app-product-item>
        </div>
        <div class="col-md-5">
            <div class="control-editor-text">
                <div class="tab-editor-product">
                    <div class="tab-control-item" (click)="changeTabClick(1)"><span>Descripción Corta</span></div>
                    <div class="tab-control-item" (click)="changeTabClick(2)"><span>Descripción Larga</span></div>
                </div>
                <div class="content-editor-1" id="content-editor-1" style="display:blok;">
                    <textarea name="description_short" id="description_short"></textarea>
                </div>
                <div class="content-editor-2" id="content-editor-2" style="display:none;">
                    <textarea name="description" id="description"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row fila-formulario-5">
        <div class="col-md-7">
            <div style="width:100%;display: inline-flex;">
                <div class="control-caja" style="width:20%">
                    <label>Meta Titulo: </label>
                </div>
                <div class="control-caja" style="width:80%">
                    <input type="text" name="meta_title" class="form-control" placeholder="" [(ngModel)]="oProductLang.meta_title">
                </div>
            </div>

            <div style="width:100%;display: inline-flex;">
                <div class="control-caja" style="width:20%">
                    <label>Meta Descripcón: </label>
                </div>
                <div class="control-caja" style="width:80%">
                    <input type="text" name="meta_description" class="form-control" placeholder="" [(ngModel)]="oProductLang.meta_description">
                </div>
            </div>

            <div style="width:100%;display: inline-flex;">
                <div class="control-caja" style="width:20%">
                    <label>Palabras Clave: </label>
                </div>
                <div class="control-caja" style="width:80%">
                    <input type="text" name="meta_keywords" class="form-control" placeholder="" [(ngModel)]="oProductLang.meta_keywords">
                </div>
            </div>

            <div style="width:100%;display: inline-flex;">
                <div class="control-caja" style="width:20%">
                    <label>URL Amigable: </label>
                </div>
                <div class="control-caja" style="width:80%">
                    <input type="text" name="link_rewrite" class="form-control" placeholder="" [(ngModel)]="oProductLang.link_rewrite">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="control-categoria-ultimo">
                <div class="control-categoria-asociada" style="display: flex;">
                    <div class="izquierda">
                        <div class="control-caja" style="width:100%">
                            <label>Categoria asociada</label>
                        </div>
                        <div class="control-caja" style="display: block">
                            <select class="form-control" name="id_category" #vCategoryElem>
                                <option *ngFor="let category of oListCategory"  [value]="category.id_category+'|'+category.category_lang.name">{{category.category_lang.name}}</option>
                            </select>
                        </div>
                        <div class="control-caja" style="display: block">
                            <button class="btn btn-default button-agregar-categoria" (click)="agregarCrossCategery(vCategoryElem.value)">AGREGAR</button>
                        </div>
                        <div class="control-caja" style="display: block">
                            <label>Etiqueta cuando no hay stock</label>
                        </div>
                    </div>
                    <div class="derecha scrool_body">
                        <ul class="list-group_category">
                            <li class="list-group-item_category" *ngFor="let oCrossCategory of oListProductCrossCategory;let i = index">
                                {{oCrossCategory.Category.CategoryLang.name}}
                                <a class="badge" (click)="eliminarCrossCategory(i)">X</a>
                            </li>
                        </ul>
                    </div>
                </div>
    
                <div class="control-estado-producto" style="display: block">
                    <div class="control-caja" style="display: block;">
                        <textarea class="form-control" rows="2" style="width: 100%;" name="inst_message" placeholder="Escriba una frase para cuando el producto no este con stock" [(ngModel)]="oProductLang.inst_message"></textarea>
                    </div>
                    <div class="control-caja" style="display: block;">
                        <label>Estado del producto</label>
                    </div>
                    <div class="control-caja">
                        <label>
                            Nuevo <input type="radio" name="condition" value="new" [(ngModel)]="oProducto.condition">
                        </label>
                        <label>
                            Usado <input type="radio" name="condition" value="used" [(ngModel)]="oProducto.condition">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row fila-formulario-6">
        <button (click)="enviarProducto(rForm.value)">Guardar y Salir</button>
        <button>Guardar y Mantener</button>
    </div>
</form>
<app-message-manager *ngIf="isVisible" [oListMessages]="oMessageError" [sMessageTitle]="sMessageTitle" (MessageBoxClose)="MessageBoxClose($event)"></app-message-manager>
<br>
<br>
<br>