.fila-formulario-1{
    height: 80px;
    .caja-modifica-masivo,.caja-crear-masivo,.caja-exportar-masivo{
        height: 40px;
        margin: 10px 3px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
}