<div class="row fila-formulario-1">
    <div class="col-md-8">Boton de ON/OFF</div>
    <div class="col-md-2">Importar</div>
    <div class="col-md-2">Exportar</div>
</div>

<div class="row fila-formulario-2">
    <div class="col-md-8">
        <div class="control-fila1"  style="width:100%;display:inline-flex;">
            <div class="control-caja" style="width:35%">
                <select class="form-control">
                    <option>Valor 1</option>
                    <option>Valor 2</option>
                    <option>Valor 3</option>
                </select>
            </div>
            <div class="control-caja" style="width:35%">
                <select class="form-control">
                    <option>Valor 1</option>
                    <option>Valor 2</option>
                    <option>Valor 3</option>
                </select>
            </div>
            <div class="control-caja" style="width:10%">
                <label>Estado</label>
            </div>
            <div class="control-caja" style="width:20%">
                <input type="text" class="form-control" placeholder="Estado">
            </div>
        </div>

        <div class="control-fila2" style="width:100%;display:inline-flex;">
            <div class="control-caja" style="width:20%">
                <label>Nombre del producto</label>
            </div>
            <div class="control-caja" style="width:80%">
                <input type="text" class="form-control" placeholder="Escribir el nombre del producto">
                <span>(Marca / Categoria / Modelo / Caracteristicas)</span>
            </div>
        </div>

        <div class="control-fila3" style="width:100%;display:inline-flex;">
            <div class="control-caja" style="width:20%">
                <label>SKU Proveedor</label>
            </div>
            <div class="control-caja" style="width:30%">
                <input type="text" class="form-control" placeholder="Escribir SKU proveedor">
            </div>
            <div class="control-caja" style="width:20%">
                <label>Unidades </label>
            </div>
            <div class="control-caja" style="width:30%">
                <input type="text" class="form-control" placeholder="Cantidad de Unidades">
            </div>
        </div>

        <div class="control-fila4" style="width:100%;display:inline-flex;">
            <div class="caja-modelo" style="width:50%;height:170px;background-color:green;">
                Modelo del produto
            </div>
            <div class="caja-nuevo" style="width:50%;height:170px;background-color:blue;">
                Ingresae nuevo modelo
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="control-mapa" style="width:100%;height:300px;background-color:green;">
            Contol centrado
        </div>
    </div>

</div>

<div class="row fila-formulario-3">
    <div class="col-md-4">
        <div style="width:100%;height:300px;background:red;">
            Secion de imagne
        </div>
    </div>

    <div class="col-md-8">
        <!--Precios-->
        <app-product-price></app-product-price>
    </div>
</div>

<div class="row fila-formulario-4">
    <div class="col-md-7">
        <div style="background-color:orange;">
            <fieldset>
                <legend>Unidades: 3</legend>
                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Nombre:</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Estilo:</label>
                        </div>  
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Tipo de tapiz:</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Colo de tapiz:</label>
                        </div>  
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Tipo de relleno:</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Material de estrucctura:</label>
                        </div>  
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex">
                        <div class="control-caja" style="width:30%">
                            <label>Armado:</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Garantia:</label>
                        </div>  
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    
                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Entega (dias) :</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Unidades :</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Transporte</label>
                        </div>
                    </div>
                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Altura (cm):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="control-caja" style="width:30%">
                            <label>Altura (cm):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Entrega (dias):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="control-caja" style="width:30%">
                            <label>Entrega (dias):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Ancho (cm):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="control-caja" style="width:30%">
                            <label>Ancho cm (dias):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Profundidad (cm):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="control-caja" style="width:30%">
                            <label>Profundidad (cm):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="control-fila1"  style="width:100%;display:inline-flex;">
                        <div class="control-caja" style="width:30%">
                            <label>Peso (kg):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="control-caja" style="width:30%">
                            <label>Peso (kg):</label>
                        </div>
                        <div class="control-caja" style="width:70%">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-5">
        <div style="background-color:grey;height:400px">
            Derecha
        </div>
    </div>
</div>
<br>
<br>
<br>