<div class="cuerpo">
  <div class="espacio">
      <div class="container">
        <div class="row">
            <div class="col-md-10">
              <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-heading">KPI actual</div>
                  <div class="panel-body">
                    <div class="contenedor-pf">
                      <p class="p_text">Volumen de Venta</p>
                      <p class="p_numero">S/.120.00</p>
                    </div>
                    <div class="contenedor-pf">
                      <p class="p_text">Volumen de Unidades</p>
                      <p class="p_numero">500</p>
                    </div>
                    <div class="contenedor-pf">
                      <p class="p_text">Margen</p>
                      <p class="p_numero">18%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                 <div class="panel panel-default">
                  <div class="panel-heading">KPI esperado</div>
                  <div class="panel-body">
                    <div class="contenedor-pf">
                      <p class="p_text">Volumen de Venta</p>
                      <p class="p_numero">S/.120.00</p>
                    </div>
                    <div class="contenedor-pf">
                      <p class="p_text">Volumen de Unidades</p>
                      <p class="p_numero">500</p>
                    </div>
                    <div class="contenedor-pf">
                      <p class="p_text">Margen</p>
                      <p class="p_numero">18%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                 <div class="panel panel-default">
                  <div class="panel-heading">KPI Total</div>
                  <div class="panel-body">
                    <div class="contenedor-pf">
                      <p class="p_text">Volumen de Venta</p>
                      <p class="p_numero">S/.120.00</p>
                    </div>
                    <div class="contenedor-pf">
                      <p class="p_text">Volumen de Unidades</p>
                      <p class="p_numero">500</p>
                    </div>
                    <div class="contenedor-pf">
                      <p class="p_text">Margen</p>
                      <p class="p_numero">18%</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <input type="text" class="input__search" placeholder="Buscar por SKU">
              </div>
            </div>
        </div>
        <br>
        <div class="col-md-10">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-black">

              <tr>
                <th>SKU</th>
                <th>Nombre del Producto</th>
                <th>Proveeedor</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Costo de Envío</th>
                <th>Costo Actual</th>
                <th>Precio Actual</th>
                <th>Descuento Actual</th>
              </tr>
              </thead>
              <tbody class="tbody-white">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>
</div>
