<div class="cuerpo">
  <div class="espacio">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">KPI actual</div>
          <div class="panel-body">
            <div class="contenedor-pf">
              <p class="p_text">Volumen de Venta</p>
              <p class="p_numero">S/.{{oOrderTotal.total}}</p>
            </div>
            <div class="contenedor-pf">
              <p class="p_text">Volumen de Unidades</p>
              <p class="p_numero">{{oOrderTotal.quantity}}</p>
            </div>
            <div class="contenedor-pf">
              <p class="p_text">Margen</p>
              <p class="p_numero">{{oOrderTotal.margen}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="panel panel-default">
          <div class="panel-heading">KPI esperado</div>
          <div class="panel-body">
            <div class="contenedor-pf">
              <p class="p_text">Volumen de Venta</p>
              <p class="p_numero">S/.120.00</p>
            </div>
            <div class="contenedor-pf">
              <p class="p_text">Volumen de Unidades</p>
              <p class="p_numero">500</p>
            </div>
            <div class="contenedor-pf">
              <p class="p_text">Margen</p>
              <p class="p_numero">18%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="panel panel-default">
          <div class="panel-heading">KPI Total</div>
          <div class="panel-body">
            <div class="contenedor-pf">
              <p class="p_text">Volumen de Venta</p>
              <p class="p_numero">S/.{{oOrderTotal.total}}</p>
            </div>
            <div class="contenedor-pf">
              <p class="p_text">Volumen de Unidades</p>
              <p class="p_numero">{{oOrderTotal.quantity}}</p>
            </div>
            <div class="contenedor-pf">
              <p class="p_text">Margen</p>
              <p class="p_numero">{{oOrderTotal.margen}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 display-flex">
          <div style="width: 90%;">
            <input type="number" class="form-control input__search" name="id_product" [(ngModel)]="oProduct.id_product" placeholder="Buscar por codigo">
          </div>
          <div style="width: 10%;">
            <button class="btn btn-default" (click)="searchProduct(oProduct.id_product)"><span class="glyphicon glyphicon-search"></span></button>
          </div>
      </div>
      <div class="col-sm-4 display-flex">
        <div style="width: 20%">
          <label>Importar</label>
        </div>
        <div style="width: 80%;">
          <input type="file" class="form-control" name="file" [(ngModel)]="modelFile" (change)="uploadFile($event)">
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-success" (click)="grabar()">Grabar</button>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
          <data-table id="product-grid" class="table table-bordered" [items]="items" [pagination]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
              <data-table-column [property]="'reference'" [header]="'SKU'" [sortable]="true" width="150px" [resizable]="true"></data-table-column>
              <data-table-column [property]="'product'" [header]="'Nombre'" [sortable]="true" [resizable]="true" width="200px"></data-table-column>
              <data-table-column [property]="'supplier'" [header]="'Proveeedor'" [sortable]="true" [resizable]="true" width="150px"></data-table-column>
              <data-table-column [property]="'manufacturer'" [header]="'Marca'" [sortable]="true" [resizable]="true"></data-table-column>
              <data-table-column [property]="'category'" [header]="'Categoria'" [sortable]="true" [resizable]="true" width="150px"></data-table-column>
              <data-table-column [property]="'reduction'" [header]="'Descuento Actual'" [sortable]="true" [resizable]="true"></data-table-column>
              <data-table-column [property]="'margen'" [header]="'Margen Actual'" [sortable]="true" [resizable]="true"></data-table-column>
              <data-table-column [property]="'wholesale_price'" [header]="'Costo Actual'" [sortable]="true" [resizable]="true"></data-table-column>
              <data-table-column [property]="'price'" [header]="'Precio Actual'" [sortable]="true" [resizable]="true"></data-table-column>
              <data-table-column [property]="'quantity'" [header]="'Stock Actual'" [sortable]="true" [resizable]="true"></data-table-column>
              <data-table-column [property]="'item_sale'" [header]="'Items Vendidos'" [resizable]="true"></data-table-column>
              <data-table-column [property]="'visit'" [header]="'Visitas'" [resizable]="true"></data-table-column>
              <data-table-column [header]="'Departamento'" [resizable]="true" width="150px">
                <template #dataTableCell let-item="item">
                  <select class="form-control" [(ngModel)]="item.id_state" (change)="calCostShipping(item)">
                    <option *ngFor="let departament of listDepartament" [value]="departament.id_state">{{departament.name}}</option>
                  </select>
                </template>
              </data-table-column>
              <data-table-column [property]="'cost_shipping'" [header]="'Costo de envío'" [resizable]="true"></data-table-column>
              <data-table-column [header]="'Nuevo Costo'" [resizable]="true">
                  <template #dataTableCell let-item="item">
                      <input type="number" class="form-control" [(ngModel)]="item.event_cost"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Fecha inicio costo'" [resizable]="true" width="180px">
                  <template #dataTableCell let-item="item">
                      <input type="date" class="form-control" [(ngModel)]="item.cost_start_date"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Fecha final costo'" [resizable]="true" width="180px">
                  <template #dataTableCell let-item="item">
                      <input type="date" class="form-control" [(ngModel)]="item.cost_end_date"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Nuevo Precio'" [resizable]="true">
                  <template #dataTableCell let-item="item">
                      <input type="number" class="form-control" [(ngModel)]="item.event_price"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Fecha inicio precio'" [resizable]="true" width="180px">
                  <template #dataTableCell let-item="item">
                      <input type="date" class="form-control" [(ngModel)]="item.price_start_date"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Fecha final precio'" [resizable]="true" width="180px">
                  <template #dataTableCell let-item="item">
                      <input type="date" class="form-control" [(ngModel)]="item.price_end_date"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Nuevo Descuento'" [resizable]="true">
                  <template #dataTableCell let-item="item">
                      <input type="number" class="form-control" [(ngModel)]="item.new_reduction"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Envió gratis'" [resizable]="true">
                  <template #dataTableCell let-item="item">
                      <input type="checkbox" class="form-control" [(ngModel)]="item.free_shipping"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Cupon'" [resizable]="true">
                  <template #dataTableCell let-item="item">
                      <input type="number" class="form-control" [(ngModel)]="item.cupon"/>
                  </template>
              </data-table-column>
              <data-table-column [header]="'Unidades vend.cal.'" [resizable]="true">
                  <template #dataTableCell let-item="item">
                      <input type="number" class="form-control" [(ngModel)]="item.unid_sale_cal"/>
                  </template>
              </data-table-column>
              <data-table-column [property]="'margen_new_percentage'" [header]="'Margen (%)'" [resizable]="true">
                <template #dataTableCell let-item="item">
                  <span>{{calculateMargen(item)}}</span>
                </template>
              </data-table-column>
              <data-table-column [property]="'margen_new_money'" [header]="'Margen ($)'" [resizable]="true">
                <template #dataTableCell let-item="item">
                  <span>{{calculateMargenMoney(item)}}</span>
                </template>
              </data-table-column>
          </data-table>
      </div>
    </div>
  </div>
</div>