<div class="caja-precio-producto" style="width:100%;height:300px;">
  <div class="control-costo-fila1"  style="width:100%;display:inline-flex;">
      <div class="control-caja" style="width:30%">
          <label>Precio Base</label>
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Precio Promoción</label>
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Fecha inicio <span class="glyphicon glyphicon-calendar"></span></label>
          <input type="date" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Fecha Final <span class="glyphicon glyphicon-calendar"></span></label>
          <input type="date" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Descuento</label>
          <input type="text" class="form-control">
      </div>
  </div>
  <div class="control-costo-fila2"  style="width:100%;display:inline-flex;">
      <div class="control-caja" style="width:30%">
          <label>Costo Base</label>
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Costo Promoción</label>
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Fecha inicio <span class="glyphicon glyphicon-calendar"></span></label>
          <input type="date" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Fecha Final <span class="glyphicon glyphicon-calendar"></span></label>
          <input type="date" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Cantidad</label>
          <input type="text" class="form-control">
      </div>
  </div>

  <div class="control-costo-fila3"  style="width:100%;display:inline-flex;">
      <div class="control-caja" style="width:30%">
          <label>Margen:</label>
          <input type="text" class="form-control" placeholder="Soles (S/.)">
      </div>
      <div class="control-caja" style="width:35%">
          <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>Margen Promoción:</label>
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" class="form-control">
      </div>
  </div>

  <div class="control-costo-fila3"  style="width:100%;display:inline-flex;">
      <div class="control-caja" style="width:30%">
          <label>%</label>
      </div>
      <div class="control-caja" style="width:35%">
          <input type="text" class="form-control">
      </div>
      <div class="control-caja" style="width:35%">
          <label>%</label>
      </div>
      <div class="control-caja" style="width:35%">
          <input type="text" class="form-control">
      </div>
  </div>
</div>
