//Contihogar Variables
$contihogar-white :white;
$contihogar-soft-blue : #00b4e0;
$contihogar-black : #1a1a1a;
$contihogar-gray-1 : #28282c;
$contihogar-gray-2 : #808080;

$contihogar-font-futura-book : "Futura";
$contihogar-font-futura-light:"Futura Light";

$contihogar-font-size-13: 13px;
$contihogar-font-size-16: 16px;
